# Analiza filmov
V tem dokumentu bomo analizirali filmme.

In [2]:
import pandas as pd

In [3]:
filmi = pd.read_csv("filmi.csv", index_col="id")

In [4]:
zanri = pd.read_csv("filmi_zanri.csv")

In [5]:
def koren_besede(beseda):
    if len(beseda) <= 2 or beseda == "the":
        return "@"

    if beseda[-1] in "sey":
        return beseda[:-1]
    if beseda[-3:] == "ing":
        return beseda[:-3]
    if beseda[-2:] == "ed" or beseda[-2:] == "es":
        return beseda[:-2]
    
    return beseda


def opis_v_korene(opis):
    opis = opis.lower()
    opis = ''.join(znak for znak in opis if znak.isalpha() or znak.isspace())

    return pd.Series(sorted(list(set([koren_besede(beseda) for beseda in opis.split(" ") if koren_besede(beseda) != "@"]))))

opis_v_korene("Aliens invade earth.")

0    alien
1    earth
2    invad
dtype: object

In [6]:
koreni = filmi["opis"].apply(opis_v_korene)

In [7]:
koreni

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
id,,,,,,,,,,,,,,,,,,,,,
43014,dangerou,determin,develop,fad,film,mak,relationship,return,screenwriter,star,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42192,ag,and,broadwa,but,circl,friend,her,herself,ing√©nu,insinuate,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42876,and,ar,bandit,brid,from,ghost,her,husband,murder,perspective,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42546,anyon,best,but,du,friend,hi,humanoid,insan,insistenc,invisibl,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42646,adventurer,african,allan,attempt,diamond,dur,expedition,explorer,fabl,for,...,who,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15239678,against,and,atreide,between,choic,conspirator,destroy,endeavor,fac,famil,...,who,with,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4772188,and,animal,boat,but,cat,despit,devastat,difference,find,flood,...,with,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14961016,act,after,and,arbitrar,brazil,chart,cours,dictatorship,dur,famil,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20221436,authenticall,can,cartel,death,each,emilia,enlist,fak,finall,follow,...,that,their,thre,tru,unappreciat,women,NaN,NaN,NaN,NaN
30953759,activist,allianc,and,bankapos,basel,between,collectiv,destruction,develop,film,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
verjetnost_zanrov = zanri.groupby('zanr')["id_filma"].count() / len(filmi)
verjetnost_zanrov

zanr
Action             0.083721
Action Epic        0.026977
Adult Animation    0.004651
Adventure          0.150698
Adventure Epic     0.034419
                     ...
Western            0.025116
Western Epic       0.008372
Whodunnit          0.009302
Workplace Drama    0.011163
Zombie Horror      0.000930
Name: id_filma, Length: 161, dtype: float64

In [9]:
film_koren = koreni.stack().reset_index("id").rename(columns={0: "koren"})

In [10]:
koren_zanr = pd.merge(film_koren, zanri, left_on="id", right_on="id_filma")[["koren", "zanr"]]

In [11]:
verjetnot_korenov = pd.crosstab(koren_zanr["koren"], koren_zanr["zanr"]) / zanri.groupby("zanr").size() + 0.0001

In [12]:

def napovej_zanr(opis):
    verjetnosti = verjetnot_korenov[verjetnot_korenov.index.isin(opis_v_korene(opis))].prod() * verjetnost_zanrov
    return verjetnosti.sort_values(ascending=False).head(5)

In [13]:
opis = "A student of math searches for a meaning of life and finds it in programming."

napovej_zanr(opis)

zanr
Comedy           1.388561e-10
Drama            6.108796e-11
Coming-of-Age    1.658979e-11
Mystery          4.753802e-12
Music            4.571192e-12
dtype: float64

In [14]:
import numpy as np

In [28]:
seznam = [float(i) for i in range(10**7)]
a = np.array(seznam)

In [22]:
import time
zacetek = time.time()
seznam2 = [x**2 for x in seznam]
time.time() - zacetek

0.732297420501709

In [24]:
import time
zacetek = time.time()
b = a * a
time.time() - zacetek

0.04859113693237305

In [30]:
a = np.reshape(a, (1000, 10000))
a.shape

(1000, 10000)